/* shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: orange;
}
.btn-primary{
    border-radius: 5px;
    background-color: rgb(235, 112, 11);
    border: 0px;
    font-size: 20px;
    color: white;
    font-weight: 300;
    padding: 5px 5px 5px 5px;
    box-shadow: 3px 5px 5px black

}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align:center;
    font-size: 18px;
    color: black;
}
/* nav realated styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav-title{
    color: rgb(19, 7, 7);
    font-size: 45px;
    font-weight: 800;

}
nav > ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: rgb(73, 69, 69);
}
/* header related styles */
.header{
    background-color: rgb(206, 198, 198);
    background-image: url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size:24%;
    margin-bottom: 5%;

}
.banner{
    padding: 30px 30px 0px 150px;
    display:flex;
    align-items: center;
}
.banner .profile{
    width: 500px;
    margin-top: 49px;
}
.banner-greeting{
    font-size: 35px;
    color:rgb(121, 76, 51);
    margin: 0px;
}
.banner-title{
    font-size: 55px;
    font-weight: 700;
    margin-top: 5px;
}
.banner-description{
    font-weight: 600;
    padding: 20px;
    justify-content: center;


}
/* main section styles */
    main{
        max-width: 1140px;
        margin: 0 auto;
    }
    
    main section{
        margin: 100px;
    }
/* about section styles */
.about{
    padding: 106px;
    border-radius: 40px;
    background: #e0963bbd;
    margin: 80px 0px;
    
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
/* skills realated style */
#what-i-do-description{
    padding: 30px 150px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #584c4ca1;
    box-shadow: 10px 10px 20px black(0,0,0.06)
    
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-description{
    color: white
 
}